<!DOCTYPE html>
<html>
<head>
<title>ESM</title>
</head>
<body>
    <nav style="display:flex; aligns-items:center;justify-content:center;padding-top:20px;background-color:blue;padding-bottom:20px;">
        <div><a style="text-decoration: none; color:white;font-size:24px; font-weight:bold;padding:0px 50px;" href="/about">About Us</a></div>
        <div><a style="text-decoration: none; color:white;font-size:24px; font-weight:bold;padding:0px 50px;" 
            href="/regform">Register</a></div>
    </nav>
    <header>
        <center><h1>Employee Salary Management System</h1></center>
    </header>
    <div>
        <div style="position:absolute;left:100px;">
            <p style="color:white; font-size:50px;">Employ talent anywhere in the world Compliantly</p>
            <a href="about.html"><button style="color:white;background-color:blue;border:none;padding:20px;font-size:24px;border-radius:10px;">Talk to our Experts</button></a>
            <a href="https://www.youtube.com/watch?v=i8uB9Uq_VNM"><button style="color:white;background-color:blue;border:none;padding:20px;font-size:24px;border-radius:10px;">Watch Video</button></a>
        </div>
        <div>
            <img src="/esm" style="height:30%;width:100%"/>
        </div>
    </div>
    <footer style="display:flex; justify-content:space-between;padding:0px 100px;">
        <div><p style="color:grey">© ESM— All rights reserved.</p></div>
        <div style="display:flex;justify-content:space-between;">
            <p style="padding-left:20px;">Privacy Policy</p>
            <p style="padding-left:20px;">Terms of Use</p>
        </div>
    </footer>
</body>
</html>